/* Fonts
font-family: 'Lora', serif;
font-family: 'Ubuntu', sans-serif; 
*/

body {
  /* removes white space around header */
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
}

/* 
Typography
*/

h1, 
h2,
h3 {
  font-family: "Lora", serif;
  /* removes bold */
  font-weight: 400;
}

h1 {
  font-size: 2rem;
  color: darkblue;
  margin: 0;
}

a {
  color: #1792d2;
  text-decoration: none;
}

a:hover,
a:focus {
  color: darkblue;
}

strong {
  font-weight: 700;
}

.subtitle {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 0;
  color: rgb(53, 161, 211);
}

.article-title {
  font-size: 1.5rem;
}

.article-read-more,
.article-info {
  font-size: 0.875rem;
}

.article-read-more {
  color: #1792d2;
  text-decoration: none;
  font-weight: 700;
}

.article-read-more:hover,
.article-read-more:focus {
  color: #143774;
  text-decoration: underline;
}

/*
Layout
*/

main {
  width:75%;
}

aside {
  width: 20%;
}

img {
  width: 100%;
  display: block;
}

.container {
  /* border: 1px solid magenta; */
  width: 90%;
  max-width: 900px;
  /* centers the container on the page */
  margin: 0 auto;
}

.container-flex {
  /* the title and nav are next to each other */
  display: flex;
  justify-content: space-between;
  /* vertical alignment of title and nav items */
  align-items: center;
}

header {
  /* text-align: center; */
  background: rgb(229, 245, 250);
  padding: 2em 0;
}
.sidebar-widget {
  border: 1px solid red;
}
/*
navigation
*/


.nav-list {
  /* border: 1px solid magenta; */
  display: flex;
  /* centers the nav-items (children) on the page */
  justify-content: center;
  /* remove bullets for ul */
  list-style: none;
  /* removes formatting from ul */
  margin: 0;
  /* removes formatting from ul */
  padding: 0;
}

.nav-item {
  /* border: 1px solid orange; */
  /* get space between items without space on right end*/
  margin-left: 1rem;
  /* padding: 0.5rem; */
}

.nav-link {
  /* removes underline */
  text-decoration: none;
  color: royalblue;
  /* standard weight for bold */
  font-weight: 700;
  /* make button slightly bigger, good for mobile */
  /* also move the current-page underline down a bit */
  padding: 0.25em 0;
}

.nav-link:hover,
.nav-link:focus {
  color: rgb(235, 72, 8);
}

/* line between nav items */
.nav li + li {
  border-left: 1px solid #b6b4b4;
  padding-left: 1em;
}

.current-page {
  border-bottom: 1px solid black;
}

.current-page:hover {
  color: royalblue;
}

/*
media queries
*/

@media (max-width: 710px) {
  .container-nav {
    flex-direction: column;
  }

  .nav-list {
    /* border: 1px solid black; */
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-start;
  }
  .nav li + li {
    border-left: 0;
    padding-left: 0;
  }

  .nav-item {
    margin: 0.5em 0;
  }
  header {
    /* centers title and nav on small screen */
    text-align: center;
  }
}
